@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600&display=swap');

    :root {
        font-family: "Montserrat", "Inter";
        box-sizing: border-box;
        font-size: 16px;
        font-weight: 400;
        /* scrollbar-color: #ba986a transparent; */
        scroll-behavior: smooth;
        /* scrollbar-arrow-color: #ba986a; */
    }

    ::-webkit-scrollbar{
        max-width: 12px;
    }

    ::-webkit-scrollbar-track{
        background-color: transparent;
    }
    ::-webkit-scrollbar-thumb{
        background-image: linear-gradient(#482f21, #ba986a);
        border-radius: 6px;
    }

    *::selection{
        background-color: #482f21;
        color: #ffd79e;
    }

}

@layer components {
    .primaryButton {
        @apply bg-primary hover:bg-primary/90 text-white hover:text-white text font-semibold px-6 py-2.5 rounded-md cursor-pointer
    }

    .primaryButtonSm {
        @apply bg-primary text-white text-sm px-6 py-2 rounded-md hover:bg-primary/90 hover:text-white
    }

    .primaryButtonOutlined {
        @apply text-primary font-semibold text px-6 py-2.5 rounded-md border border-primary hover:text-white hover:bg-primary
    }

    .primaryButtonOutlinedSm {
        @apply text-primary font-semibold text-sm px-6 py-2 rounded-md border border-primary hover:text-white hover:bg-primary
    }

    .primaryButtonText {
        @apply text-primary font-semibold text
    }

    .primaryButtonTextSm {
        @apply text-primary font-semibold text-sm
    }

    .secondaryButton {
        @apply bg-secondary text-white font-semibold text px-6 py-2.5 rounded-md border-secondary hover:bg-primary hover:border-primary hover:text-white
    }

    .secondaryButtonSm {
        @apply bg-secondary text-white font-semibold text-sm px-6 py-2 rounded-md border-secondary hover:bg-primary hover:border-primary hover:text-white
    }

    .secondaryButtonOutlined {
        @apply text-secondary font-semibold text px-6 py-2.5 rounded-md border border-secondary hover:text-white hover:bg-primary
    }

    .secondaryButtonOutlinedSm {
        @apply text-secondary font-semibold text-sm px-6 py-2 rounded-md border border-secondary hover:text-white hover:bg-primary
    }

    .secondaryButtonText {
        @apply text-secondary font-semibold text
    }

    .secondaryButtonTextSm {
        @apply text-secondary font-semibold text-sm
    }

    .primaryHeading {
        @apply text-5xl font-bold;
    }

    .secondaryHeading {
        @apply text-[1.75rem] font-semibold;
    }

    .textLg {
        @apply text-[1.25rem] font-semibold text-text;
    }

    .textSemiLg {
        @apply text-lg font-semibold text-text;
    }

    .text {
        @apply text-base text-text font-medium;
    }

    .textSm {
        @apply text-sm text-text;
    }

}

@layer utilities {
    #mainNav li, #mainNav li a {
        @apply hover:text-secondary cursor-pointer
    }

    .slick-arrow::after{
        @apply text-[30px] w-8 h-8
    }
}